<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="DefaultPushSource" value="https://mcpartifactory.cimpress.net/artifactory/api/nuget/nuget-release-local" />
  </config>
  <packageSources>
    <add key="MCP Artifactory" value="https://mcpartifactory.cimpress.net/artifactory/api/nuget/nuget-release-local"/>
  </packageSources>
</configuration>
